<app-cart-header></app-cart-header>
<div class="container" id="con">
<div class="row">

 
  
    <div class="col-md-10">
  
        <div class="row">
  
            <div class="col-md-8">
                
                <form  (ngSubmit)="onPressed()" ngNativeValidate>
                    
                    <!-- Customer info -->
                    <fieldset class="scheduler-border" id="customer">
                        <legend class="scheduler-border"><h3>Customer</h3></legend>
                        <div >
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>First Name</label>
                                </div>
                                <div class="col-md-9">
                                    <div>
                                        <input type="text"  name="firstName" class="form-control" [(ngModel)]="cart.firstName" required/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>Last Name</label>
                                </div>
                                <div class="col-md-9">
                                    <div>
                                        <input type="text" name="lastName" class="form-control" [(ngModel)]="cart.lastName" required/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>Email Name</label>
                                </div>
                                <div class="col-md-9">
                                    <div>
                                        <input type="email"  name="email" [(ngModel)]="cart.email" class="form-control"  required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </fieldset>
  
                    <!-- Shipping info -->
                    <fieldset class="scheduler-border" id="customer">
                        <legend class="scheduler-border"><h3>Shipping Address</h3></legend>
                        <div >
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>Street</label>
                                </div>
                                <div class="col-md-9">
                                    <div>
                                        <input type="text"  name="street" [(ngModel)]="cart.street" class="form-control" required/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>City</label>
                                </div>
                                <div class="col-md-9">
                                    <div>
                                        <input type="text"  name="city" [(ngModel)]="cart.city" class="form-control" required/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row form-group">
                                <div class="col-md-5 mb-3">
                                    <label>Country</label>
                                    <input  type="text" name="country" [(ngModel)]="cart.country" class="form-control" required>
                                </div>
                                <br>
                                <div class="col-md-4 mb-3">
                                    <label>State</label>
                                    <input  type="text" name="state" [(ngModel)]="cart.state" class="form-control" required>
                                </div>
                                <br>
                                <div class="col-md-3 mb-3">
                                    <label>Zip</label>
                                    <input  type="number" name="zip" [(ngModel)]="cart.zip" class="form-control" required>
                                </div>
                                <br>
                            </div>
                        </div>
                    </fieldset>
                   
  
                    <!-- Credit card info -->
                    <fieldset class="scheduler-border" id="customer">
                        <legend class="scheduler-border"><h3>Credit Card</h3></legend>
                        <div >
                            <div class="row form-group">
                                <br>
                                <br>
                                <br>
                                <div class="col-md-3">
                                    <label>Card Type</label>
                                </div>
                                <div class="col-md-9">
                                    <select name="cardType" [(ngModel)]="cart.cardtype" class="custom-select d-block w-100"  required>
                                        <option value="">Choose Card Type</option>
                                        <option>Visa</option>
                                        <option>Master Card</option>
                                        <option>Rupat</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6 mb-3">
                                    <label for="cc-name" >Name on card</label>
                                    <input type="text"  name="nameOnCard" [(ngModel)]="cart.nameoncard" class="form-control" required />
                                    
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="cc-number">Credit card number</label>
                                    <input type="number"  name="cardNumber" [(ngModel)]="cart.cardnumber" class="form-control" required />
                                    <br>
                                    
                                </div>
                                
                            </div>
                            <div class="row form-group">
                                <div class="col-md-5 mb-3">
                                    <label>Expiration Month</label>
                                    <input type="number" min="1" max="12"  name="expmonth" [(ngModel)]="cart.expmonth" class="form-control" required/>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Expiration Year</label>
                                    <input type="number" min="1900" max="2099"  name="expyear" [(ngModel)]="cart.expyear"  class="form-control" required />
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>CVV</label>
                                    <input  type="number" name="cvv" [(ngModel)]="cart.cvv" class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <br>
                       
                    <br>
                       
                    <div class="text-center">
                        <button type="submit"  class="btn btn-primary">Purchase</button>
                    </div>
                    
                </form>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Your cart</span>
                            <span class="badge badge-secondary badge-pill">{{products.length}}</span>
                        </h4>
                        <ul class="list-group mb-3">
                            <li *ngFor="let product of products" class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">{{product.title}}</h6>
                                    <small class="text-muted">Quantity (x{{product.quantity}})</small>
                                </div>
                                <span class="text-muted">{{product.price | currency: 'INR'}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (INR)</span>
                                <strong>{{grandTotal | currency: 'INR'}}</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            
            </div>
  
        </div>
    
    </div>
  </div>
  