<div class="contianer">
    <header>
        <div class="navbar navbar-dark bg-primary ">
            <div class="navbar-brand align-item-center d-flex">
                <i style="font-size: 10px;" class="fas fa-shipping-fast">
                </i>
                <a class="navbar-brand" [routerLink]="['/products']"><strong class="headings" style="font-size: 27px;padding-left: 22px;"><b>SHOPPING ADDA</b></strong></a>
                <div class="form-group mx-5">
                    <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)"
                        placeholder="Search Products">
                </div>
            </div>
            <button (click)="deleteCookie()" class="btn btn-primary">
                Sign-Out
            </button>
            <button [routerLink]="['/cart']" class="btn btn-primary" style="margin-right: 20px;">
                CART
                <div style="font-size: 10px; margin-right: 3px;" class="badge bg-danger">{{totalItem}}</div>
            </button>
        </div>
    </header>
</div>