<main class="content">
    <app-header></app-header>
    <br>
    <br>
    <h2>Reviews of Customer</h2>
    <table class="table align-items-center table-flush">
        <thead>
          <tr>
            <th>Sr. no</th>
            <th>Name</th>
            <th>Subject</th>
           
            <th>Feedback</th>
          
            
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of reviews; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.subject}}</td>
                <td>{{item.feedback}}</td>
                
              
                
                
               
            </tr>
         
        </tbody>
      </table>
</main>

