<app-userdashboardheader></app-userdashboardheader>
<body>
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Any Questions?</h5>
                <h1 class="display-4 text-light">Please Feel Free To Contact Us</h1>
            </div>
            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="bg-dark rounded d-flex flex-column align-items-center justify-content-center text-center" style="height: 200px;">
                        <div class="d-flex align-items-center justify-content-center colors rounded-circle mb-4" style="width: 100px; height: 70px; transform: rotate(0deg);">
                            <button type="button" class="btn colors btn-sm"><b>Location</b></button>
                        </div>
                        <h6 class="mb-0 text-light">Electronic City, Bangalore, India</h6>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bg-dark rounded d-flex flex-column align-items-center justify-content-center text-center" style="height: 200px;">
                        <div class="d-flex align-items-center justify-content-center colors rounded-circle mb-4" style="width: 100px; height: 70px; transform: rotate(0deg);">
                            <button type="button" class="btn colors btn-sm"><b>Phone</b></button>
                        </div>
                        <h6 class="mb-0 text-light">+91 9988775678</h6>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bg-dark rounded d-flex flex-column align-items-center justify-content-center text-center" style="height: 200px;">
                        <div class="d-flex align-items-center justify-content-center colors rounded-circle mb-4" style="width: 100px; height: 70px; transform: rotate(0deg);">
                            <button type="button" class=" colors btn btn-sm"><b>E-mail</b></button>
                        </div>
                        <h6 class="mb-0 text-light">ShoppingAdda@gmail.com</h6>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row justify-content-center position-relative border-1 border-dark" style="margin-top: -200px; z-index: 1; margin-bottom: 50px;">
                <h1>Rate Your Experience</h1>

                <div class="star-source">
                    <svg>
                           <linearGradient x1="50%" y1="5.41294643%" x2="87.5527344%" y2="65.4921875%" id="grad">
                              <stop stop-color="#20bf20" offset="0%"></stop>
                              <stop stop-color="#2ad633" offset="60%"></stop>
                              <stop stop-color="#04ed00" offset="100%"></stop>
                          </linearGradient>
                      <symbol id="star" viewBox="153 89 106 108">   
                        <polygon id="star-shape" stroke="url(#grad)" stroke-width="5" fill="currentColor" points="206 162.5 176.610737 185.45085 189.356511 150.407797 158.447174 129.54915 195.713758 130.842203 206 95 216.286242 130.842203 253.552826 129.54915 222.643489 150.407797 235.389263 185.45085"></polygon>
                      </symbol>
                  </svg>
                  
                  </div>
                  <div class="star-container">
                    <input type="radio" name="star" id="five">
                    <label for="five">
                      <svg class="star">
                        <use xlink:href="#star"/>
                      </svg>
                    </label>
                    <input type="radio" name="star" id="four">
                    <label for="four">
                      <svg class="star">
                        <use xlink:href="#star"/>
                      </svg>
                    </label>
                    <input type="radio" name="star" id="three">
                    <label for="three">
                      <svg class="star">
                        <use xlink:href="#star"/>
                      </svg>
                    </label>
                    <input type="radio" name="star" id="two">
                    <label for="two">
                      <svg class="star">
                        <use xlink:href="#star" />
                      </svg>
                    </label>
                    <input type="radio" name="star" id="one">
                    <label for="one">
                     <svg class="star">
                      <use xlink:href="#star" />
                     </svg>
                    </label>
                  
                  </div>
                <div class="col-lg-8">
                    <div class="bg-white rounded p-5 m-5 mb-0">
                        <form (ngSubmit)="onPressed()" ngNativeValidate>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6 pb-4">
                                    <input type="text" class="form-control bg-light border-1 border-dark" placeholder="Your Name" name="name" [(ngModel)]="review.name" style="height: 55px;" required>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control bg-light border-1 border-dark" placeholder="Your Email" name="emailId" [(ngModel)]="review.emailId" style="height: 55px;" required>
                                </div>
                                <div class="col-12 pb-4">
                                    <input type="text" class="form-control bg-light border-1 border-dark" placeholder="Subject" name="subject" [(ngModel)]="review.subject" style="height: 55px;" required>
                                </div>
                                <div class="col-12 pb-4">
                                    <textarea class="form-control bg-light border-1 border-dark" rows="5" name="feedback" [(ngModel)]="review.feedback" placeholder="feedback" required></textarea>
                                </div>
                                <div class="col-12">
                               
                                    <button class="btn btn-primary w-100 py-3" type="submit"  name="feedback" value="submit/contact.html">Send Feedback/Query</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
</body>
<app-userdashboardfooter></app-userdashboardfooter>