
<div style="width: 100%;">
<nav class="navbar navbar-expand-lg " style="background-color: #1f2937;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color:white;">oNlInE gRoCeRy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color:white;" href="#">Home</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" style="color:white;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/signIn']" style="color:black;" >Sign in </a></li>
              <li><a class="dropdown-item" [routerLink]="['/signUp']" style="color:black;">Sign up</a></li>
              
              
            </ul>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div id="content">
    <!--Main banner image-->
    <div id = "banner_image">
        <div class="container">	
            <div style="text-align: center;">
                <div id="banner_content">
                    <h1>We sell Anything,AnyTime</h1>
                    <p>Flat 40% OFF on premium brands </p>
                    <br/>
                    <a  href="products.html" class="btn btn-danger btn-lg active">Shop Now</a>
                </div>
             </div>
        </div>
    </div>

    
       