
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <h4><b>SHOPPING ADDA</b></h4>
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" style="padding-top: 5px;" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/aboutUs']" style="padding-top: 5px;" href="#">About-Us</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/contactUs']" style="padding-top: 5px;" href="#">Contact-Us</a>
        </li>

        <li class="nav-item">
          <button class="nav-link mx-3 btn btn-success" style="padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px;" [routerLink]="['/signIn']" href="#">Log In</button>
        </li>
        <li class="nav-item">
          <button class="nav-link mx-3 btn btn-success" style="padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px;" [routerLink]="['/signUp']" href="#">Sign Up</button>
        </li>

      </ul>
    </div>
  </div>
</nav> -->
<app-userdashboardheader></app-userdashboardheader>

<body>
<H1 style="color: rgb(255, 255, 255); padding-top: 30px; padding-bottom: 5px;"><b>Welcome To Shopping Adda</b></H1>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div class="cards">
  <div class="card">
    <h3 class="card-title">Daily Essentials</h3>
    <img src="https://images.unsplash.com/photo-1624831466206-5b15053baabb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
    <p class="card-desc">Starting at just Rs 149 on Everyday Essentials . <br> <button class="btn btn-info btn-lg btn-block" style="padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; margin-top: 10px;" [routerLink]="['/withoutLogin']" href="products.html">Buy Now</button></p>
  </div>
  <div class="card">
    <h3 class="card-title">Electronics</h3>
    <img src="https://images.unsplash.com/photo-1611174335308-3590dc8a470f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
    <p class="card-desc">This Season get upto 80% off on Electronic Gadgets. <br> <button class="btn btn-info btn-lg btn-block" style="padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; margin-top: 10px;" [routerLink]="['/withoutLogin']" href="products.html">Buy Now</button></p>
  </div>
  <div class="card">
    <h3 class="card-title">Fashion</h3>
    <img src="https://images.unsplash.com/photo-1555529771-835f59fc5efe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
    <p class="card-desc">Get Huge Discounts on Fashion Apparels . <br> <button class="btn btn-info btn-lg btn-block" style="padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; margin-top: 10px;" [routerLink]="['/withoutLogin']" href="products.html">Buy Now</button></p>
  </div>
</div>
</body>

<!-- <body>
  <div class="cards">
    <div class="card">
      <h3 class="card-title">Daily Essentials</h3>
      <img src="https://images.unsplash.com/photo-1624831466206-5b15053baabb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
      <p class="card-desc">Starting at just Rs 149 on Everyday Essentials . <br> <button class="btn btn-info btn-lg btn-block" style="padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; margin-top: 10px;" [routerLink]="['/withoutLogin']" href="products.html">Buy Now</button></p>
    </div>
  </div>
</body>




    <div id = "banner_image">
        <div class="container">	
            <div style="text-align: center;">
                <div id="banner_content">
                    
                </div>
             </div>
        </div>
    </div>


<body>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div class="cards">
  <div class="card">
    <h3 class="card-title">Daily Essentials</h3>
    <img src="https://images.unsplash.com/photo-1624831466206-5b15053baabb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
    <p class="card-desc">Starting at just Rs 149 on Everyday Essentials . <br> <button class="btn btn-info btn-lg btn-block" style="padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; margin-top: 10px;" [routerLink]="['/withoutLogin']" href="products.html">Buy Now</button></p>
  </div>
  <div class="card">
    <h3 class="card-title">Electronics</h3>
    <img src="https://images.unsplash.com/photo-1534188753412-3e26d0d618d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
    <p class="card-desc">This Season get upto 80% off on Electronic Gadgets. <br> <button class="btn btn-info btn-lg btn-block" style="padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; margin-top: 10px;" [routerLink]="['/withoutLogin']" href="products.html">Buy Now</button></p>
  </div>
  <div class="card">
    <h3 class="card-title">Fashion</h3>
    <img src="https://images.unsplash.com/photo-1534251369789-5067c8b8602a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
    <p class="card-desc">Get Huge Discounts on Fashion Apparels . <br> <button class="btn btn-info btn-lg btn-block" style="padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; margin-top: 10px;" [routerLink]="['/withoutLogin']" href="products.html">Buy Now</button></p>
  </div>
</div>
</body>
        -->

<app-customerreview></app-customerreview>
<app-userdashboardfooter></app-userdashboardfooter>
<!-- <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 my-4 border-top bg-primary">
    <p class="col-md-4 mb-0 text-white">© 2022 Company, Inc</p>


    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
      <li class="nav-item"><a [routerLink]="['/aboutUs']" href="#" class="nav-link px-2 text-white">About-Us</a></li>
      <li class="nav-item"><a [routerLink]="['/contactUs']" href="#" class="nav-link px-2 text-white">Contact-Us</a></li>
    </ul>
  </footer> -->