<app-userdashboardheader></app-userdashboardheader>
<section class="page_404">
	<div class="container">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<!-- <h2 class="text-center ">Invalid Credentials !!!</h2> -->
		
		
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2">
            <b>Invalid Credentials !!!</b>
		</h3>
		
		<p>Please enter the correct credentials . If you dont have a account, Click below to get registered .</p>
		<p></p>
        <button href="" class=" btn link_404 " style="margin-right: 10px; padding-left: 25px; padding-right: 25px;" [routerLink]="['/signUp']">Sign Up</button>
		<button href="" class="btn link_404 " [routerLink]="['/userDash']">Go to Home</button>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>
<app-userdashboardfooter></app-userdashboardfooter>